<div class="updatebox">

	{{#if eaten}}<span>Enjoy! {{burgername}}</span>{{else}}<span>Thank you for eating {{burgername}}!</span>{{/if}}
	
{{#if eaten}}


	<button class="change-burger" data-id="{{id}}" data-eatthis="{{eaten}}"><img src="https://i.imgur.com/NVTOLbC.png" alt="">
	</button>

<button class="delete-burger" data-id="{{this.id}}"><img src="https://i.imgur.com/V7V7HIf.png" alt=""></button>
	{{else}}
	<button class="delete-burger" data-id="{{this.id}}"><img src="https://i.imgur.com/TO7i7iL.png" alt=""></button>
	
	
	{{/if}}
</div>
